/* 内容菜单按钮部分 筛选部分 */
.content-menu-select table th {
	width: 120px;
	
	&.th-parent {
		width: 100px;
	}
}

/* 内容菜单按钮部分 筛选部分 数字输入 */
#form-content-menu-select .number {
	width: 110px;
}

/* 内容菜单按钮部分 筛选部分 日期输入 */
#form-content-menu-select .calendar {
	width: 200px;
}

/* 顾客一览表 */
.div-content-list {
	width: 100%;
	
	.th-name {
		width: auto;
	}
	
	.th-status {
		width: 120px;
	}
	
	.th-source {
		width: 200px;
	}
	
	.th-staff {
		width: 80px;
	}
	
	.th-people {
		width: 60px;
	}
	
	.th-days {
		width: 60px;
	}
	
	.th-start-at {
		width: 100px;
	}
	
	.th-created-at {
		width: 100px;
	}
	
	.th-modified-at {
		width: 100px;
	}
	
	.btn-delete {
		width: 50px;
		margin-left: 5px;
		margin-right: 5px;
	}
	
	.btn-modify {
		width: 50px;
		margin-left: 5px;
		margin-right: 5px;
	}
}