/* 内容菜单按钮部分 筛选部分 */
.content-menu-select table th {
	width: 120px;
}
.content-menu-select table th.th-parent {
	width: 100px;
}
.content-menu-select table td {
	width: 400px;
}
.content-menu-select table td.long {
	width: auto;
}

/* 内容菜单按钮部分 筛选部分 价格 */
#form-content-menu-select input[type="text"].price {
	width: 132px;
}

/* 路线一览表 */
.div-content-list {
	width: 100%;
}
.tb-content-list th.th-check {
	width: 34px;
}
.tb-content-list th.th-delete {
	width: 62px;
}
.tb-content-list th.th-modify {
	width: 62px;
}
.tb-content-list th.th-name {
	width: auto;
}
.tb-content-list th.th-status {
	width: 60px;
}
.tb-content-list th.th-price {
	width: 124px;
}
.tb-content-list th.th-cost {
	width: 72px;
}
.tb-content-list th.th-day {
	width: 40px;
}
.tb-content-list th.th-date {
	width: 84px;
}
.tb-content-list td .lbl-for-check {
	margin-left: 5px;
	margin-right: 5px;
}
.tb-content-list td .btn-delete {
	width: 50px;
	margin-left: 5px;
	margin-right: 5px;
}
.tb-content-list td .btn-modify {
	width: 50px;
	margin-left: 5px;
	margin-right: 5px;
}