/* 景点价格区域 */
.div-spot-price-area {
	padding-top: 3px;
}

/* 特别价格表 */
.tb-special-price {
	width: 100%;
	margin-top: 3px;
	
	.th-name {
		width: auto;
	}
	
	.th-price {
		width: 120px;
	}
}

/* 景点详情输入框 */
.spot-detail-block {
	width: 100%;
	margin-bottom: 5px;
	background: #E1D2B3;
	border: 2px solid #713E00;
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
}

/* 景点图片上传区域 */
.spot-image-area {
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

/* 景点图片上传框 */
.spot-image-block {
	width: 189px;
	float: left;
	border: 2px solid #713E00;
	border-radius: 5px;
	background: #EBCF89;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

/* 调整顺序按钮 */
.move-handle {
	width: 120px;
	background: #EBCF89;
	border: 1px solid #713E00;
	border-radius: 5px;
	padding-top: 1px;
	padding-bottom: 2px;
	cursor: move;
	text-align: center;
	user-select: none;
	margin-top: 3px;
	margin-left: auto;
	margin-right: auto;
}

.div-sort-temp {
	width: 189px;
	float: left;
	border: 2px dashed #713E00;
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

/* 缩略图区域 */
.thumb-area {
	width: 160px;
	height: 120px;
	padding: 10px;
	
	.thumb {
		max-width: 160px;
		max-height: 120px;
		vertical-align:bottom;
	}
}

/* 图片按钮区域 */
.upload-area {
	padding-left: 22px;
	padding-right: 22px;
	padding-bottom: 14px;
	
	/* 图片按钮区域(只有删除按钮) */
	&.one-button {
		padding-right: 60px;
	}
	
	/* 图片上传按钮 */
	label {
		display:inline-block;
		position:relative;
		overflow:hidden;
		vertical-align:middle;
		
		input[type="file"] {
			position:absolute;
			top:0;
			right:0;
			cursor:pointer;
			font-size:100px;
			opacity:0.01;
			-ms-filter:"alpha(opacity=1)";
		}
		
		.btn-thumb-upload {
			font-size: 16px;
			width: 60px;
			height: 26px;
			text-align: center;
			vertical-align: middle;
			line-height: 26px;
			color: #21610B;
			background: #BCF5A9;
			border-radius: 15px;
			border: 2px solid #31B404;
			cursor: pointer;
			float: left;
		}
	}
	
	/* 图片删除按钮 */
	.btn-thumb-delete {
		font-size: 16px;
		width: 60px;
		height: 26px;
		text-align: center;
		vertical-align: middle;
		line-height: 26px;
		color: #8A0808;
		background: #F6CECE;
		border-radius: 15px;
		border: 2px solid #FE2E2E;
		cursor: pointer;
		float: right;
	}
}

/* 图片上传框添加按钮 */
.btn-spot-image-add {
	width: 100%;
	background: #EBCF89;
	box-sizing: border-box;
	border: 2px solid #713E00;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	cursor: pointer;
	text-align: center;
	position: relative;
	
	&:before {
		content: "+";
		width: 20px;
		height: 20px;
		border: 2px dashed #713E00;
		border-radius: 12px;
		position: absolute;
		top: 4px;
		left: 50%;
		margin-left: -80px;
		font-size: 22px;
		line-height: 18px;
	}
}

/* 景点详情公开期下拉选择 */
.td-se-time select {
	width: 80px;
	margin-right: 5px;
}

/* 景点详情删除按钮 */
.btn-detail-delete {
	margin-top : 15px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	color: #8A0808;
	font-size: 16px;
	width: 180px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	background: #F6CECE;
	border-radius: 15px;
	border: 2px solid #FE2E2E;
	cursor: pointer;
}

/* 景点详情添加按钮 */
#spot-detail-add {
	width: 100%;
	background: #E1D2B3;
	box-sizing: border-box;
	border: 2px solid #713E00;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	cursor: pointer;
	text-align: center;
	position: relative;
	
	&:before {
		content: "+";
		width: 20px;
		height: 20px;
		border: 2px dashed #713E00;
		border-radius: 12px;
		position: absolute;
		top: 4px;
		left: 50%;
		margin-left: -80px;
		font-size: 22px;
		line-height: 18px;
	}
}
