/* 内容菜单按钮部分 筛选部分 */
.content-menu-select th {
	width: 120px;
	
	&.th-parent {
		width: 100px;
	}
}

/* 内容菜单按钮部分 筛选部分 票价 */
#form-content-menu-select {
	float: left;
	
	input[type="text"].price {
		width: 110px;
	}
}

/* 景点一览表 */
.div-content-list {
	width: 100%;
	
	.th-check {
		width: 34px;
	}
	
	.th-delete {
		width: 62px;
	}
	
	.th-modify {
		width: 62px;
	}
	
	.th-name {
		width: auto;
	}
	
	.th-status {
		width: 60px;
	}
	
	.th-area {
		width: 100px;
	}
	
	.th-type {
		width: 100px;
	}
	
	.th-price {
		width: 130px;
	}
	
	.th-modified-at {
		width: 130px;
	}
	
	.lbl-for-check {
		margin-left: 5px;
		margin-right: 5px;
	}
	
	.btn-delete {
		width: 50px;
		margin-left: 5px;
		margin-right: 5px;
	}
	
	.btn-modify {
		width: 50px;
		margin-left: 5px;
		margin-right: 5px;
	}
}

/* 筛选部分票价显隐 */
#area-select-price {
	display: none;
	
	&.active {
		display: block;
	}
}