/* 支出明细表格 */
.tb-cost-detail{
	/* 款项 */
	.th-desc {
		width: auto;
	}
	.td-desc {
		text-align: left;
		padding: 0 15px;
	}
	
	/* 数字 */
	.th-number {
		width: 140px;
	}
	
	/* 数字 */
	.th-total {
		width: 180px;
	}
}