/* 景点详情输入框 */
.spot-detail-block {
	width: 100%;
	margin-top: 5px;
	background: #E1D2B3;
	border: 2px solid #713E00;
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
}

.spot-detail-block:first-child {
	margin-top: 0px;
}

/* 景点详情添加按钮 */
#spot-detail-add {
	width: 100%;
	margin-top: 5px;
	background: #E1D2B3;
	box-sizing: border-box;
	border: 2px solid #713E00;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	cursor: pointer;
	text-align: center;
	position: relative;
}

#spot-detail-add:before {
	content: "+";
	width: 20px;
	height: 20px;
	border: 2px dashed #713E00;
	border-radius: 12px;
	position: absolute;
	top: 13px;
	left: 50%;
	margin-left: -80px;
	font-size: 22px;
	line-height: 18px;
}

/* 景点详情删除按钮 */
.btn-detail-delete {
	margin-top : 15px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	color: #8A0808;
	font-size: 16px;
	width: 180px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	background: #F6CECE;
	border-radius: 15px;
	border: 2px solid #FE2E2E;
	cursor: pointer;
}

/* 景点图片上传区域 */
.spot-image-area {
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	box-sizing: border-box;
	border: 1px solid #713E00;
	border-radius: 5px;
	padding-left: 8px;
	padding-right: 8px;
	background: #E5C395;
}

/* 景点图片上传框 */
.spot-image-block {
	width: 180px;
	float: left;
	border: 2px dashed #713E00;
	border-radius: 5px;
	margin: 5px;
}

/* 缩略图区域 */
.thumb-area {
	width: 160px;
	height: 120px;
	padding: 10px;
}

.thumb-area img.thumb {
	max-width: 160px;
	max-height: 120px;
	vertical-align:bottom;
}

/* 图片上传按钮区域 */
.upload-area {
	padding-left: 22px;
	padding-right: 22px;
	padding-bottom: 10px;
}

/* 图片上传按钮区域(只有删除按钮) */
.upload-area.delete-only {
	padding-right: 60px;
}

/* 图片上传按钮 */
.upload-area label {
	display:inline-block;
	position:relative;
	overflow:hidden;
	vertical-align:middle;
}

.upload-area label input[type="file"] {
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
	font-size:100px;
	opacity:0.01;
	-ms-filter:"alpha(opacity=1)";
}

.upload-area label .btn-thumb-upload {
	font-size: 16px;
	width: 60px;
	height: 26px;
	text-align: center;
	vertical-align: middle;
	line-height: 26px;
	color: #21610B;
	background: #BCF5A9;
	border-radius: 15px;
	border: 2px solid #31B404;
	cursor: pointer;
	float: left;
}

/* 图片删除按钮 */
.upload-area .btn-thumb-delete {
	font-size: 16px;
	width: 60px;
	height: 26px;
	text-align: center;
	vertical-align: middle;
	line-height: 26px;
	color: #8A0808;
	background: #F6CECE;
	border-radius: 15px;
	border: 2px solid #FE2E2E;
	cursor: pointer;
	float: right;
}

/* 图片上传框添加按钮 */
.btn-spot-image-add {
	width: 100%;
	margin-top: 5px;
	background: #E1D2B3;
	box-sizing: border-box;
	border: 2px solid #713E00;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	cursor: pointer;
	text-align: center;
	position: relative;
}

.btn-spot-image-add:before {
	content: "+";
	width: 20px;
	height: 20px;
	border: 2px dashed #713E00;
	border-radius: 12px;
	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -80px;
	font-size: 22px;
	line-height: 18px;
}

/* 景点详情公开期下拉选择 */
.td-se-time select {
	width: 80px;
	margin-right: 5px;
}