/* 内容菜单按钮部分 筛选部分 */
.content-menu-select table th {
	width: 120px;
}
.content-menu-select table th.th-parent {
	width: 100px;
}

/* 景点一览表 */
.tb-content-list th.th-delete {
	width: 84px;
}
.tb-content-list th.th-name {
	width: auto;
}
.tb-content-list th.th-area {
	width: 180px;
}
.tb-content-list th.th-type {
	width: 180px;
}
.tb-content-list th.th-price {
	width: 180px;
}
.tb-content-list th.th-modified-at {
	width: 106px;
}
.tb-content-list th.th-detail {
	width: 74px;
}