/* 房型一览表 */
.div-content-list {
	width: 600px;
}

.tb-content-list {
	.th-delete {
		width: 62px;
	}
	
	.th-modify {
		width: 62px;
	}
	
	.th-name {
		width: auto;
	}
	
	.th-number {
		width: 60px;
	}
	
	.th-list {
		width: 108px;
	}
	
	.btn-delete {
		width: 50px;
		margin-left: 5px;
		margin-right: 5px;
	}
	
	.btn-modify {
		width: 50px;
		margin-left: 5px;
		margin-right: 5px;
	}
}