/* エラーのアイコン */
.error-icon {
	font-size: 80px;
	line-height: 100px;
	background-color: #713E00;
	color: #FBEFBF;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 20px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	vertical-align: middle;
	text-align: center;
}

/* エラーのテキスト */
.error-text {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
}