/* 用户类型一览表 */
.div-content-list {
	width: 600px;
}

/* 用户类型一览表 删除列 */
.th-delete {
	width: 62px;
}

/* 用户类型一览表 编辑列 */
.th-modify {
	width: 62px;
}

/* 用户类型一览表 名称列 */
.th-name {
	width: auto;
}

/* 用户类型一览表 等级列 */
.th-level {
	width: 80px;
}

/* 用户类型一览表 人数列 */
.th-number {
	width: 60px;
}

/* 用户类型一览表 按钮 */
.btn-controller {
	width: 50px;
	margin-left: 5px;
	margin-right: 5px;
}