/* メインビジュアル */
#mainv {
	background-image: url(/assets/img/index/mainv_bg_sp.jpg);
	width: 100%;
	background-size: auto 250px;
	background-position: center top;
	height: 250px;
}

#mainv div.inner {
	width: 310px;
	margin: 0px auto;
	position: relative;
}

#mainv div.inner p.main-text {
	position: absolute;
	top: 30px;
	background-color: rgba(0, 0, 0, 0.6);
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	color: #FFFFFF;
	font-size: 15px;
	border-radius: 10px;
	user-select: none;
	cursor: default;
	line-height: 25px;
}

/* Mission 目標 */
#mission {
	margin: 0px auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
}

#mission .mission-title-en {
	font-size: 20px;
	font-weight: bold;
	line-height: 35px;
	letter-spacing: 2px;
}

#mission .mission-title {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	letter-spacing: 2px;
}

#mission .mission-sub-title-en {
	font-size: 16px;
	font-weight: bold;
	line-height: 26px;
	margin-top: 15px;
}

#mission .mission-sub-title {
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
}

#mission .mission-text {
	margin-top: 15px;
	line-height: 26px;
	font-size: 14px;
}

/* Project プロジェクト */
#project div.project-slide-title {
	background-color: #5882FA;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14px;
	padding: 5px;
	text-align: center;
}

#project div.project-slide-title .title {
	font-size: 20px;
	margin-bottom: 5px;
	letter-spacing: 2px;
}

#project div.project-slide-title .title span {
	font-size: 16px;
}

#project div.project-slide-content {
	padding: 5px;
	font-size: 14px;
	line-height: 20px;
}

/* Company 会社概要 */
#company {
	padding-top: 20px;
	text-align: center;
}

#company .company-title-en {
	font-size: 20px;
	font-weight: bold;
	line-height: 35px;
	letter-spacing: 2px;
}

#company .company-title {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	letter-spacing: 2px;
}

#company .company-table {
	margin-top: 15px;
	font-size: 14px;
	width: 100%;
}

#company .company-table th {
	padding-left: 5px;
	padding-right: 5px;
	width: 24%;
	text-align: right;
	background-color: #819FF7;
}

#company .company-table td {
	text-align: left;
	background-color: #E0E6F8;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 20px;
}