/* 权限及其下属权限区域 */
.permission-area {
	position: relative;
	min-height: 32px;
	margin-left: 30px;
	box-sizing: border-box;
	border-left: 2px solid #713E00;
	clear: both;
	
	&:last-child {
		border-left: 2px solid transparent;
		
		.permission-line:after {
			border-left: 0;
		}
	}
}

/* 单行权限数据及按钮区域 */
.permission-line {
	position: relative;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 30px;
	
	&:before {
		content: " ";
		position: absolute;
		width: 30px;
		height: 17px;
		top: 0;
		left: -2px;
		border-left: 2px solid #713E00;
		border-bottom: 2px solid #713E00;
	}
	
	&:after {
		content: " ";
		position: absolute;
		width: 30px;
		height: 17px;
		top: 17px;
		left: -2px;
		border-left: 2px solid #713E00;
	}
}

/* 展开/收起按钮 */
.btn-permission-show {
	position: absolute;
	top: 9px;
	left: 22px;
	height: 16px;
	width: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 14px;
	background: #EBCF89;
	border: 1px solid #713E00;
	border-radius: 2px;
	z-index: 1;
	user-select: none;
	cursor: pointer;
	
	&:before {
		content: "－";
		position: absolute;
		top: 0px;
		left: 0px;
		font-weight: bold;
	}
	
	&:after {
		content: " ";
		position: absolute;
		top: 17px;
		left: 7px;
		width: 0px;
		height: 5px;
		border-left: 2px solid #713E00;
	}
	
	&.active {
		&:before {
			content: "＋";
			position: absolute;
			top: 0px;
			left: 0px;
			font-weight: bold;
		}
		
		&:after {
			content: " ";
			border-left: 0;
		}
	}
}

/* 权限编号 */
.permission-id {
	float: left;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
}

/* 权限名称 */
.permission-name {
	float: left;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 30px;
}